#@layer()
#define script()
<script>

    $(".useButton").on('click', function () {
        parent.layer.data = this.dataset;
        parent.layer.closeAll();
    })

</script>
#end


#define content()

<section class="content">

    <div class="row">
        <div class="col-12">

            <table class="table table-striped" id="table-address">
                <tbody>
                <tr>
                    <th>文章ID</th>
                    <th>文章标题</th>
                    <th>操作</th>
                </tr>

                #for(data : articleList)
                <tr>
                    <td>
                        #(data.id)
                    </td>
                    <td>
                        #(data.title)
                    </td>
                    <td><button class="btn btn-primary useButton"  data-article-title="#(data.title)"  data-article-id="#(data.id)">选择</button></td>
                </tr>
                #end


                </tbody>
            </table>
            <div class="row mt-2">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
    </div>

</section>


#end
