#include("./_layout.html")
#@uconsole_layout("账号绑定")
#define content()
<div class="card card-outline card-primary">

  <div class="card-body ">

    <div class="form-group row">
      <h4><label class="col-sm-1 ">微信</label></h4>
      <div class="col-sm-7 binditem">
        您当前没有绑定微信账号，点击 <a href="/oauth/wechat" target="_blank">这里</a> 进行绑定。
      </div>
    </div>

    <div class="form-group row">
      <h4><label class="col-sm-1 ">微博</label></h4>
      <div class="col-sm-7 binditem">
        您当前没有绑定微博账号，点击 <a href="/oauth/weibo" target="_blank">这里</a> 进行绑定。
      </div>
    </div>


    <div class="form-group row">
      <h4><label class="col-sm-1 ">QQ</label></h4>
      <div class="col-sm-7 binditem">
        您当前没有绑定QQ账号，点击 <a href="/oauth/qq" target="_blank">这里</a> 进行绑定。
      </div>
    </div>


    <div class="form-group row">
      <h4><label class="col-sm-1 ">Github</label></h4>
      <div class="col-sm-7 binditem">
        您当前没有绑定Github账号，点击 <a href="/oauth/github" target="_blank">这里</a> 进行绑定。
      </div>
    </div>

    <div class="form-group row">
      <h4><label class="col-sm-1 ">开源中国</label></h4>
      <div class="col-sm-7 binditem">
        您当前没有绑定开源中国账号，点击 <a href="/oauth/oschina" target="_blank">这里</a> 进行绑定。
      </div>
    </div>

  </div>


</div>
#end
