#include("./u_layout.html")
#@ucenter_layout("修改头像")
#define script()
<script src="#(CPATH)/static/components/jcrop/js/jquery.jcrop.min.js"></script>
<script src="#(CPATH)/static/components/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="#(CPATH)/static/components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="#(CPATH)/static/components/jquery-file-upload/js/jquery.fileupload.js"></script>
<script>

    var jcrop_api;
    $('#cfile').fileupload({
        dropZone: $('#uploader'),
        url: '#(CPATH)/commons/attachment/upload',
        sequentialUploads: true,
        done: function (e, data) {
            if (data.result.state == "ok") {
                if (jcrop_api) {
                    jcrop_api.destroy()
                }
                var src = data.result.src;
                $("#path").val(src);
                $("#avatarimg").attr("src", "#(CPATH)" + src);
                $('#avatarimg').Jcrop({
                    setSelect: [30, 30, 250, 250],
                    minSize: [50, 50],
                    aspectRatio: 1,
                    onSelect: updateSelect,
                    onChange: updateSelect
                }, function () {
                    jcrop_api = this;
                });
            }
        }
    });

    function updateSelect(c) {
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#w').val(c.w);
        $('#h').val(c.h);
    }

    function submitSuccess() {
        toastr.options.onHidden = function () {
            location.reload();
        }
        toastr.success('头像修改成功，2s后自动刷新...');
    }

</script>
#end
#define css()
<link rel="stylesheet" href="#(CPATH)/static/components/jcrop/css/jquery.jcrop.min.css" rel="stylesheet">
<link rel="stylesheet" href="#(CPATH)/static/components/jquery-file-upload/css/jquery.fileupload.css">

<style>

</style>
#end
#define content()
<div class="twelve wide column">
    <div class="ui segment">
        <h1>
            <i class="icon image" aria-hidden="true"></i> 修改头像
        </h1>
        <div class="ui stacked segment">
            <div class="content px-3 py-3">

                <div class="ui message warning my-3">
                    <b><i class="icon info"></i> 请注意：</b>
                    <p>上传闪烁、奇异、违法、色情头像，情节严重者将会被封号处理。</p>
                </div>


                <form class="ui form" method="POST" action="#(CPATH)/ucenter/doSaveAvatar"
                      enctype="multipart/form-data" accept-charset="UTF-8">
                    <input name="_method" type="hidden" value="PATCH">
                    <input type="hidden" name="_token" value="KbRAGMop6xekVJ25F7Yq4yagr1d13tW2PM4b7Vmu">

                    <div id="image-preview-div">
                        <img id="preview-img" class="avatar-preview-img image-border "
                             src="#(CPATH)/static/commons/img/avatar.png" width="320" >
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="exampleInputFile">请选择图片：</label>
                    </div>


                    <div class="filed">
                        <input type="file" name="avatar" id="file" required="">
                    </div>

                    <div class="filed mt-3">
                        <button class="ui button primary" id="upload-button" type="submit">上传头像</button>
                    </div>


                    <div class="ui message warning" id="loading" style="display: none;" role="alert">
                        图片上传中...
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <div id="message"></div>
                </form>

            </div>
        </div>
    </div>
</div>
#end