#include("./u_layout.html")
#@ucenter_layout("我的优惠券")
#define content()
<div class="twelve wide column">
    <div class="ui segment">
        <h1>
            <i class="money bill alternate outline icon"></i> 优惠券
        </h1>
        <table class="ui blue table">
            <thead>
            <tr>
                <th>名称</th>
                <th>金额</th>
                <th>券码</th>
                <th>使用时间</th>
                <th>仅限会员</th>
                <th>券类型</th>
                <th>领取时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>回复至</td>
                <td>200</td>
                <td>0g</td>
                <td>0g</td>
                <td>删除</td>
                <td>删除</td>
                <td>删除</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
#end