#include("./u_layout.html")
#@ucenter_layout("用户首页")
#define content()
<div class="twelve wide column">
    <div class="ui segment">
        <div class="content extra-padding rm-link-color">
            <div class="ui divided items">
                <div class="item">
                    <div class="middle aligned content">
                        绑定邮箱: djycode@126.com
                    </div>
                </div>
                <div class="item">

                    <div class="middle aligned content">
                        绑定手机: 您还未绑定手机，点击 这里 进行绑定。
                    </div>
                </div>
                <div class="item">

                    <div class="middle aligned content">
                        当前身份: 程序猿一枚
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        我的签名: 您未设置签名，点击 这里 写点心情吧...
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
#end