#include("./u_layout.html")
#@ucenter_layout("账号绑定")
#define content()
<div class="nine wide column">

    <div class="ui segment text-center">注册于：<span class="ui popover" title="2021-12-04 04:01:47">1周前</span>
        ，最后活跃于：<span class="ui popover" title="2021-12-11 13:42:32">7秒前</span></div>


    <div class="ui segment">
        <div class="content extra-padding rm-link-color">

            <h4 class="mb-4 fw-bold mb-3" style="color:#a5a5a5;">
                <i class="icon feed"></i> Ta 的动态：
            </h4>

            <h3 class="text-center ui message ">暂无内容~</h3>
        </div>
    </div>

</div>
#end