<div class="four wide column ">
    <div class="ui fluid vertical pointing right menu" style="border: 1px solid #d3e0e9;">
        <a href="#(CPATH)/ucenter/index" class="item lh-2"
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat user outline"></i> 主页
        </a>
    </div>
    <div class="ui fluid vertical pointing right menu" style="border: 1px solid #d3e0e9;">
        <div class="header my-2 py-1">
            <h2 class="fs-normal pl-3 text-mute">我的文章</h2>
        </div>
        <a href="#(CPATH)/ucenter/article" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat list alternate outline"></i> 文章列表
            <span class="ui left  label">0</span>
        </a>

        <a href="#(CPATH)/ucenter/article/write" class="item lh-2 " target="_blank"
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat edit outline"></i> 投稿
            <span class="ui left  label">0</span>
        </a>
    </div>
    <div class="ui fluid vertical pointing right menu" style="border: 1px solid #d3e0e9;">
        <div class="header my-2 py-1">
            <h2 class="fs-normal pl-3 text-mute">我的评论</h2>
        </div>
        <a href="#(CPATH)/ucenter/article/comment" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat comment outline"></i> 文章评论
            <span class="ui left  label">0</span>
        </a>

        <a href="#(CPATH)/ucenter/product/comment" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat comment outline"></i> 资源评论
            <span class="ui left  label">0</span>
        </a>
    </div>
    <div class="ui fluid vertical pointing right menu" style="border: 1px solid #d3e0e9;">
        <div class="header my-2 py-1">
            <h2 class="fs-normal pl-3 text-mute">我的收藏</h2>
        </div>
        <a href="#(CPATH)/ucenter/article/favorite" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat folder open outline"></i> 文章收藏
            <span class="ui left  label">0</span>
        </a>

        <a href="#(CPATH)/ucenter/product/favorite" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat folder open outline"></i> 资源收藏
            <span class="ui left  label">0</span>
        </a>
    </div>

    <div class="ui fluid vertical pointing right menu" style="border: 1px solid #d3e0e9;">
        <div class="header my-2 py-1">
            <h2 class="fs-normal pl-3 text-mute">财务信息</h2>
        </div>
        <a href="#(CPATH)/ucenter/member" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat smile outline"></i> 我的会员
        </a>
        <a href="#(CPATH)/ucenter/order" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat shopping cart"></i> 我的订单
        </a>
        <a href="#(CPATH)/ucenter/finance/amount" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat credit card outline"></i> 我的余额
        </a>
        <a href="#(CPATH)/ucenter/coupon" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat gift"></i> 优惠券
        </a>
    </div>
    <div class="ui fluid vertical pointing right menu" style="border: 1px solid #d3e0e9;">
        <div class="header my-2 py-1">
            <h2 class="fs-normal pl-3 text-mute">个人信息</h2>
        </div>
        <a href="#(CPATH)/ucenter/info" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat info circle"></i> 基本信息
        </a>
        <a href="#(CPATH)/ucenter/avatar" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat image outline"></i> 头像设置
        </a>
        <a href="#(CPATH)/ucenter/pwd" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat key "></i> 修改密码
        </a>
        <a href="#(CPATH)/ucenter/bind" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat random"></i> 账号绑定
        </a>
    </div>
</div>
