<div class="four wide column ">
    <div class="ui fluid vertical pointing right menu" style="border: 1px solid #d3e0e9;">
        <a href="index.html" class="item lh-2 active"
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat user"></i> 首页
        </a>
        <div class="header my-2 py-1">
            <h2 class="fs-normal pl-3 text-mute">我的内容</h2>
        </div>
        <a href="index.html" class="item lh-2 active"
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat user"></i> 我的文章
        </a>
        <a href="index.html" class="item lh-2 active"
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat user"></i> 我的评论
        </a>
        <a href="index.html" class="item lh-2 active"
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat user"></i> 我的收藏
        </a>
        <a href="https://learnku.com/users/91191/articles" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat file text outline"></i> Ta 的博文
            <span class="ui left  label">0</span>
        </a>


        <a href="https://learnku.com/users/91191/topics" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat list ul"></i> Ta 的话题
            <span class="ui left  label">0</span>
        </a>


    </div>


    <div class="ui fluid vertical pointing right menu" style="border: 1px solid #d3e0e9;">

        <div class="header my-2 py-1">
            <h2 class="fs-normal pl-3 text-mute">Ta 的关系</h2>
        </div>


        <a href="https://learnku.com/users/91191/following" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat eye"></i> Ta 的关注
            <span class="ui left  label">0</span>
        </a>

        <a href="https://learnku.com/users/91191/followers" class="item lh-2 "
           style="color: #636b6f;padding: .92857143em .824285714em .92857143em .4em;">
            <i class="icon pr-1 nofloat smile"></i> Ta 的粉丝
            <span class="ui left  label">0</span>
        </a>

    </div>
</div>