#include("./u_layout.html")
#@ucenter_layout("我的订单")
#define content()
<div class="twelve wide column">
    <div class="ui segment">
        <div class="content extra-padding rm-link-color">
            <table class="ui blue unstackable table">
                <thead>
                <tr>
                    <th style="text-align: center">商品</th>
                    <th style="text-align: center">数量</th>
                    <th style="text-align: center">单价</th>
                    <th style="text-align: center">总价</th>
                    <th style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="5" bgcolor="#fff">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <div class="meta">
                                        订单号：<span>667170631355338752</span>
                                        总金额：<span>111.00</span>
                                        支付状态：<span>未支付</span>
                                    </div>
                                    <table class="ui table" style="border: none">
                                        <tbody>
                                        <tr>
                                            <td style="width: 20%;text-align: center">测试商品测试商品测试商品测试商品测试商品</td>
                                            <td style="width: 20%;text-align: center">1</td>
                                            <td style="width: 20%;text-align: center">111.00</td>
                                            <td style="width: 20%;text-align: center">111.00
                                            </td>
                                            <td style="width: 20%;text-align: center;color: #0a8df1">
                                                <a href="/ucenter/order/comment/1" target="_blank">评价</a> <span class="divider">|</span>
                                                <a href="/ucenter/checkout/order/1" target="_blank">去付款</a> <span class="divider">|</span>
                                                <a href="/ucenter/order/detail/1">详情</a> <span class="divider">|</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="meta">
                                        订单号：<span>667170631355338752</span>
                                        总金额：<span>111.00</span>
                                        支付状态：<span>未支付</span>
                                    </div>
                                    <table class="ui table" style="border: none">
                                        <tbody>
                                        <tr>
                                            <td style="width: 20%;text-align: center">测试商品</td>
                                            <td style="width: 20%;text-align: center">1</td>
                                            <td style="width: 20%;text-align: center">111.00</td>
                                            <td style="width: 20%;text-align: center">111.00
                                            </td>
                                            <td style="width: 20%;text-align: center;color: #0a8df1">
                                                <a href="/ucenter/order/comment/1" target="_blank">评价</a><span class="divider">|</span>
                                                <a href="/ucenter/checkout/order/1" target="_blank">去付款</a><span class="divider">|</span>
                                                <a href="/ucenter/order/detail/1">详情</a><span class="divider">|</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="meta">
                                        订单号：<span>667170631355338752</span>
                                        总金额：<span>111.00</span>
                                        支付状态：<span>未支付</span>
                                    </div>
                                    <table class="ui table" style="border: none">
                                        <tbody>
                                        <tr>
                                            <td style="width: 20%;text-align: center">测试商品</td>
                                            <td style="width: 20%;text-align: center">1</td>
                                            <td style="width: 20%;text-align: center">111.00</td>
                                            <td style="width: 20%;text-align: center">111.00
                                            </td>
                                            <td style="width: 20%;text-align: center;color: #0a8df1">
                                                <a href="/ucenter/order/comment/1" target="_blank">评价</a><span class="divider">|</span>
                                                <a href="/ucenter/checkout/order/1" target="_blank">去付款</a><span class="divider">|</span>
                                                <a href="/ucenter/order/detail/1">详情</a><span class="divider"> | </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr><th colspan="5">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
                </tr></tfoot>
            </table>
        </div>
    </div>
</div>
#end