#include("./u_layout.html")
#@ucenter_layout("产品评论")
#define content()
<div class="twelve wide column">
    <table class="ui grey table">
        <thead>
        <tr>
            <th>内容</th>
            <th>回复至</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>回复至</td>
            <td>200</td>
            <td>0g</td>
            <td>删除</td>
        </tr>
        <tr>
            <td>发布时间</td>
            <td>310</td>
            <td>0g</td>
            <td>删除</td>
        </tr>
        <tr>
            <td>操作</td>
            <td>310</td>
            <td>0g</td>
            <td>删除</td>
        </tr>
        </tbody>
    </table>

</div>
#end