<div class="four wide column ">
    <div class="ui segment">
        <div class="card">

            <a class="ui green ribbon label mb-3" href="https://learnku.com/users/91191/reputation_logs"
               target="_blank">
                <i class="icon trophy"></i> 0 声望
            </a>

            <div class="image" href="https://learnku.com/users/91191">
                <a href="index.html" class="ui popover" data-content="访问个人空间">
                    <img style="width:100%"
                         src="https://cdn.learnku.com/uploads/avatars/91191_1638561708.jpeg!/both/400x400">
                </a>
            </div>


            <div class="statistics mt-3 mb-3"
                 style="border-top: 1px solid rgba(0, 0, 0, 0.05);border-bottom: 1px solid rgba(0, 0, 0, 0.05);padding-bottom: 15px;padding-top: 10px;">
                <div class="ui three statistics">
                    <div class="ui statistic">
                        <div class="label" style="font-size: 1em!important;font-weight: normal;">
                            文章
                        </div>
                        <div class="value" style="font-size: 1em!important;font-weight: bold;">
                    <span class="ui popover bottom" data-content="博客文章总数">
                        0
                    </span>
                        </div>
                    </div>

                    <div class="ui statistic">
                        <div class="label" style="font-size: 1em!important;font-weight: normal;">
                            粉丝
                        </div>
                        <div class="value" style="font-size: 1em!important;font-weight: bold;">
                    <span class="ui popover bottom" data-content="关注作者的用户数">
                        0
                    </span>
                        </div>
                    </div>

                    <div class="ui statistic">
                        <div class="label" style="font-size: 1em!important;font-weight: normal;">
                            喜欢
                        </div>
                        <div class="value" style="font-size: 1em!important;font-weight: bold;">
                    <span class="ui popover bottom" data-content="收到了 0 个点赞">
                        0
                    </span>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="rm-link-color">

                <h1 class="my-3 mx-2 fw-bold">
                    dongjy


                </h1>


                <div class="my-3 mx-2">
                                <span title="最后活跃于：2021-12-11 13:42:32" class="ui popover"><i class="icon sound"
                                                                                              style="color:#a5a5a5"></i> 7秒前</span>
                </div>

                <div class="ui divider" style="border-top: 1px solid rgba(0, 0, 0, 0.05);"></div>

                <div class="social rm-link-color my-3 mx-2">

                    <p class="fw-bold" style="font-size:0.9em;color:#a5a5a5;">社交账号：</p>


                </div>
                <div class="ui divider" style="border-top: 1px solid rgba(0, 0, 0, 0.05);"></div>

            </div>


            <div class="extra content">


                <button class="ui  button fluid basic  login_required    ui popover"
                        data-content="关注后此博客的新文章会在首页动态里显示" data-act="follow" data-id="91191">
                    <i class="icon plus"></i> <span class="state">关注</span>
                </button>

                <a href="https://learnku.com/messages/to/91191" class="ui  button fluid basic  mt-2">
                    <i class="icon envelope"></i> 私信
                </a>


            </div>
        </div>
    </div>
</div>