<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://d349cztnlupsuf.enginefront.net">
    <title>云引擎 - LeanCloud</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="keywords"
          content="LeanCloud, Docker, lambda, redis，kubernetes，FaaS, Function as a Service, cloud function，cloud engine，serverless computing，云引擎，云函数，LeanCache, 云端代码，无服务器应用后端, 微信小程序, 小游戏">
    <meta name="description"
          content="专属的容器云计算平台，开发者可以轻松地在云端运行和扩展代码，平滑扩展，最大。既可以被简单地用来托管静态网站，又可以接受任意程序语言的定制开发来动态处理外来请求，满足业务定制化需求。">
    <meta property="twitter:title" content="云引擎 - LeanCloud">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="icon" href="../favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="canonical" href="https://leancloud.cn">
    <link rel="manifest" href="../manifest.json">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="LeanCloud">
    <meta property="og:url" content="https://leancloud.cn">
    <meta property="og:description"
          content="专属的容器云计算平台，开发者可以轻松地在云端运行和扩展代码，平滑扩展，最大。既可以被简单地用来托管静态网站，又可以接受任意程序语言的定制开发来动态处理外来请求，满足业务定制化需求。">
    <meta property="og:title" content="云引擎 - LeanCloud">
    <meta property="og:image" content="https://leancloud.cn/logo.png">
    <meta name="baidu-site-verification" content="sEgKd7fuLs">
    <meta name="baidu-site-verification" content="oDahCCQqdn">
    <link rel="stylesheet" href="../css/main.cbbf2041.css">
    <link rel="alternate" type="application/rss+xml" title="LeanCloud - LeanCloud - 为开发加速" href="../feed.xml">
</head>
<body>
<header class="wrapper-header">
    <section class="section-contain"><a href="../index.html" class="font-logo logo">LeanCloud</a>
        <ul class="site-nav">
            <li class="site-nav-item current">
                <div class="site-nav-group site-nav-dropdown"><a href="javascript:;"><span class="subbtn">产品</span></a>
                </div>
                <ul class="site-nav-dropdown-menue sub-nav">
                    <li class="site-nav-item site-nav-item-group">
                        <div class="site-nav-item-group-title">基础服务</div>
                        <ul class="site-nav-item-group-list">
                            <li class="site-nav-item sub-nav-links-item"><a href="../storage/index.html">数据存储</a></li>
                            <li class="site-nav-item sub-nav-links-item current"><a href="index.html">云引擎 + 数据库</a></li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../rtm/index.html">即时通讯</a></li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../notification/index.html">消息推送</a>
                            </li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../sms/index.html">短信</a></li>
                        </ul>
                    </li>
                    <li class="site-nav-item site-nav-item-group">
                        <div class="site-nav-item-group-title">行业解决方案</div>
                        <ul class="site-nav-item-group-list">
                            <li class="site-nav-item sub-nav-links-item"><a href="../play/index.html">游戏解决方案</a></li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../miniprogram/index.html">微信小程序</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="site-nav-item"><a href="../pricing/index.html">价格</a></li>
            <li class="site-nav-item"><a href="../customers/index.html">用户</a></li>
            <li class="site-nav-item"><a href="https://leancloud.cn/docs/">文档</a></li>
            <li class="site-nav-item"><a href="../tutorials/index.html">学习</a></li>
            <li class="site-nav-item"><a href="../帮助/index.html">帮助</a></li>
            <li class="site-nav-item"><a href="https://leancloud.app">国际版 (Intl)</a></li>
            <li class="site-nav-item login-btn">
                <div class="site-nav-group active"><a href="https://console.leancloud.cn">控制台 <i
                        class="uk-icon-angle-right"></i></a></div>
            </li>
        </ul>
        <section class="menu"><span class="crust-top"></span> <span class="crust-bottom"></span></section>
    </section>
</header>
<div id="main" role="main" class="wrapper-container page-engine">
    <section class="section" id="pricing">
        <section class="section-contain column pricing-section">
            <div class="content"><h4 class="title">云引擎实例</h4>
                <section class="card-view">
                    <div class="card"><p class="small text-muted">512 MB 1 CPU</p>
                        <p class="price"><span class="font-logo">2</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">1 GB 1 CPU</p>
                        <p class="price"><span class="font-logo">4</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">2 GB 1 CPU</p>
                        <p class="price"><span class="font-logo">8</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">4 GB 1 CPU</p>
                        <p class="price"><span class="font-logo">16</span> <span class="unit">元 / 天</span></p></div>
                </section>
            </div>
            <div class="content"><h4 class="title">云引擎流量</h4>
                <p>每个云引擎付费实例每天有 1 GB 免费额度，超出部分按照 0.8 元 / GB 的标准收费。</p></div>
            <div class="content"><h4 class="title">云引擎加速流量</h4>
                <p>0.36 元 / GB，不抵扣商用版最低消费，每个开发版应用享有每天 1 GB 免费额度。 回源流量按照云引擎流量收费。</p></div>
            <div class="content"><h4 class="title">数据库 - LeanCache（Redis）</h4>
                <section class="card-view">
                    <div class="card"><p class="small text-muted">128 MB</p>
                        <p class="price"><span class="font-logo">1</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">256 MB</p>
                        <p class="price"><span class="font-logo">1.5</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">512 MB</p>
                        <p class="price"><span class="font-logo">3</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">1 GB</p>
                        <p class="price"><span class="font-logo">5</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">2 GB</p>
                        <p class="price"><span class="font-logo">10</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">4 GB</p>
                        <p class="price"><span class="font-logo">20</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">8 GB</p>
                        <p class="price"><span class="font-logo">50</span> <span class="unit">元 / 天</span></p></div>
                </section>
            </div>
            <div class="content"><h4 class="title">数据库 - MySQL（内存）</h4>
                <section class="card-view">
                    <div class="card"><p class="small text-muted">512 MB</p>
                        <p class="price"><span class="font-logo">2.5</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">1 GB</p>
                        <p class="price"><span class="font-logo">4</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">2 GB</p>
                        <p class="price"><span class="font-logo">8</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">4 GB</p>
                        <p class="price"><span class="font-logo">16</span> <span class="unit">元 / 天</span></p></div>
                </section>
            </div>
            <div class="content"><h4 class="title">数据库 - MySQL（存储空间）</h4>
                <section class="card-view">
                    <div class="card"><p class="small text-muted">20 GB</p>
                        <p class="price"><span class="font-logo">免费</span> <span class="unit"></span></p></div>
                    <div class="card"><p class="small text-muted">100 GB</p>
                        <p class="price"><span class="font-logo">2</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">500 GB</p>
                        <p class="price"><span class="font-logo">12</span> <span class="unit">元 / 天</span></p></div>
                </section>
            </div>
            <div class="content"><h4 class="title">数据库 - Elasticsearch</h4>
                <section class="card-view">
                    <div class="card"><p class="small text-muted">512 MB 内存</p>
                        <p class="small text-muted">1 GB 存储空间</p>
                        <p class="price"><span class="font-logo">3</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">1 GB 内存</p>
                        <p class="small text-muted">16 GB 存储空间</p>
                        <p class="price"><span class="font-logo">12</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">2 GB 内存</p>
                        <p class="small text-muted">32 GB 存储空间</p>
                        <p class="price"><span class="font-logo">20</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">4 GB 内存</p>
                        <p class="small text-muted">64 GB 存储空间</p>
                        <p class="price"><span class="font-logo">40</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">8 GB 内存</p>
                        <p class="small text-muted">128 GB 存储空间</p>
                        <p class="price"><span class="font-logo">80</span> <span class="unit">元 / 天</span></p></div>
                </section>
                <p class="small text-muted">额外的存储空间 0.036 元 / GB / 天。</p></div>
            <div class="content"><h4 class="title">数据库 - MongoDB</h4>
                <section class="card-view">
                    <div class="card"><p class="small text-muted">512 MB 内存</p>
                        <p class="small text-muted">1 GB 存储空间</p>
                        <p class="price"><span class="font-logo">5</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">1 GB 内存</p>
                        <p class="small text-muted">16 GB 存储空间</p>
                        <p class="price"><span class="font-logo">10</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">2 GB 内存</p>
                        <p class="small text-muted">32 GB 存储空间</p>
                        <p class="price"><span class="font-logo">20</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">4 GB 内存</p>
                        <p class="small text-muted">64 GB 存储空间</p>
                        <p class="price"><span class="font-logo">40</span> <span class="unit">元 / 天</span></p></div>
                    <div class="card"><p class="small text-muted">8 GB 内存</p>
                        <p class="small text-muted">128 GB 存储空间</p>
                        <p class="price"><span class="font-logo">80</span> <span class="unit">元 / 天</span></p></div>
                </section>
                <p class="small text-muted">额外的存储空间 0.024 元 / GB / 天。</p></div>
        </section>
    </section>
    <nav class="fixed-nav-section" id="fixed-nav-section">
        <section class="section-contain"><span class="module">云引擎 + 数据库</span>
            <ul class="fixed-nav"><a href="#features">功能特色</a> <a href="#example">典型用户</a> <a href="#pricing">价格方案</a>
                <a href="https://leancloud.cn/docs/leanengine_overview.html" target="_blank">开发指南 <i
                        class="uk-icon-external-link"></i></a></ul>
        </section>
    </nav>
</div>
<footer class="wrapper-footer">
    <section class="connect">
        <section class="section-contain">
            <section class="apply"><h2 class="font-logo logo">LeanCloud</h2><a class="button button-primary"
                                                                               href="https://console.leancloud.cn/register">立即申请试用</a>
                <form class="submail"
                      action="https://leancloud.us12.list-manage.com/subscribe/post?u=ab0f847461dceee3d41553154&amp;id=bb488780ff"
                      method="post"><label for="blog-subscription-email"><p class="email-label small">邮件订阅 <a
                        href="https://leancloudblog.com">LeanCloud Blog </a>的最新资讯</p></label> <input type="email"
                                                                                                     name="EMAIL"
                                                                                                     class="emaiinput small"
                                                                                                     name=""
                                                                                                     placeholder="请输入邮箱"
                                                                                                     id="blog-subscription-email"
                                                                                                     required></form>
            </section>
            <nav class="links">
                <section><p class="title">产品</p>
                    <ul class="small">
                        <li><a href="../storage/index.html">数据存储</a></li>
                        <li><a href="index.html">云引擎 + 数据库</a></li>
                        <li><a href="../rtm/index.html">即时通讯</a></li>
                        <li><a href="../notification/index.html">消息推送</a></li>
                        <li><a href="../sms/index.html">短信</a></li>
                        <li><a href="../play/index.html">游戏解决方案</a></li>
                        <li><a href="../miniprogram/index.html">微信小程序</a></li>
                        <li><a href="https://leancloudstatus.com/">服务健康状态</a></li>
                    </ul>
                </section>
                <section><p class="title">资源</p>
                    <ul class="small">
                        <li><a href="https://leancloud.cn/docs/">文档</a></li>
                        <li><a href="../tutorials/index.html">讲座视频</a></li>
                        <li><a href="https://forum.leancloud.cn/">论坛</a></li>
                        <li><a href="https://leanticket.cn/">工单</a></li>
                    </ul>
                </section>
                <section><p class="title">公司</p>
                    <ul class="small">
                        <li><a href="../about/index.html">关于我们</a></li>
                        <li><a href="https://open.leancloud.cn/">开放资源</a></li>
                        <li><a href="../jobs/index.html">工作机会</a></li>
                        <li><a href="../news/index.html">媒体报道</a></li>
                        <li><a href="../协议/index.html">使用协议</a></li>
                        <li><a href="https://leancloudblog.com/">博客</a></li>
                        <li><a href="../logo/index.html">Logo</a></li>
                    </ul>
                </section>
                <section><p class="title">社交网络</p>
                    <ul class="small">
                        <li><a class="tooltip">微信 <span class="tooltiptext"><img
                                src="../assets/imgs/qr-wechat-borderless.11ef7253.png" alt=""></span></a></li>
                        <li><a href="https://weibo.com/avoscloud">微博</a></li>
                        <li><a href="https://zhuanlan.zhihu.com/leancloud-eng">知乎专栏</a></li>
                        <li><a href="https://github.com/leancloud">GitHub</a></li>
                        <li><a href="https://twitter.com/leancloudrocks">Twitter</a></li>
                        <li><a href="https://www.facebook.com/leancloudus">Facebook</a></li>
                    </ul>
                </section>
            </nav>
        </section>
    </section>
    <section class="address">
        <section class="section-contain"><p><a
                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502036747" target="_blank"
                rel="nofollow">京公网安备 11010502036747 号</a> · <a href="http://beian.miit.gov.cn/" target="_blank"
                                                               rel="nofollow">京 ICP 备 12025059-8</a> · <a
                href="https://www.leancloud.cn/assets/ICP.182c7324.jpg" target="_blank" rel="nofollow">京 ICP 证 130300
            号</a></p>
            <p>版权所有 © 2021 美味书签（北京）信息技术有限公司</p></section>
    </section>
</footer>
</body>
<script src="../vendor.22064f24.js"></script>
<script src="../main.aab48a90.js"></script>
<script>window.init("engine")</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42629236-1"></script>
<script>function gtag() {
    dataLayer.push(arguments)
}

window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-42629236-1"), gtag("config", "AW-1030743864")</script>
</html>
