<div class="ui top menu sidebar stackable">
    <div class="item">
        <img class="ui image" style="width:26px;height:26px;margin-top:-2px;"
             src="resource/img/admin.gif">
        <span class="site-name ml-2">#(WEB_NAME)</span>
    </div>

    <form class="ui fluid category  item secondary" action="/article/search" method="GET">
        <div class="ui icon input">
            <input class="prompt" name="keyword" type="text" placeholder="搜索" value="">
            <i class="search icon"></i>
        </div>
    </form>

    #categories(asTree=true)
    #for(category :categories)
    <a href="#(category.slug)" class="item secondary">
        <i class="icon list"></i> #(category.title)
    </a>
    #end
    #end


    #if(USER)
    <a href="/ucenter/index" class="item">
        <img class="ui avatar image" src="#(USER.avatar ??)"> &nbsp;
        #(USER.nickname ??)
    </a>
    #else
    <div class="item">
        <a class="ui basic small button no-pjax" href=""><i class="icon user "></i> 登录 </a>
    </div>
    #end
</div>
