#include("./layout.html")
#@layout()

#define content()
<div class="ui centered grid container stackable">
    <div class="twelve wide column">
        <div class="ui segment">
            <div class="content extra-padding">

                <h2>
                    <i class="ui icon frown outline"/>500 (Internal Server Error)
                </h2>

                <hr>
                <h3>
                    <i class="ui icon frown outline"/>
                    服务出错啦！
                </h3>
                <p>
                    <a class="ui button basic" href="javascript:window.back()"> <i
                            class="icon left arrow"></i> 返回</a>
                    <a class="ui button basic" href="/"> <i class="icon home"></i> 首页</a>
                </p>

            </div>
        </div>
    </div>
</div>
#end
