<!-- 底部 -->
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="four wide column">
        <h4 class="ui inverted header">
          <img src="https://cdn.learnku.com/uploads/images/201908/22/1/oVrAoOQ4Vc.png!/fw/40" alt=""
               style="width: 32px;border-radius: 6px;position: relative;top: -5px;">
          关于 LearnKu
        </h4>
        <div class="ui inverted  text-center">
          <div class="lh-3">LearnKu 是终身编程者的修道场</div>
          <div class="lh-3">摒弃世俗浮躁，追求技术精湛</div>
        </div>

        <div class="ui inverted  text-center mt-3 rm-link-color tdu">
          <i class="icon birthday"></i> <a href="articles/28735.html">LearnKu 诞生的故事</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">资源推荐</h4>
        <div class="ui inverted link list">
          <li class="mb-1">
            <a class="item" href="docs/guide.html">
              《社区使用指南》
            </a>
          </li>
          <li class="mb-1">
            <a class="item" href="docs/writing-docs.html">
              《文档撰写指南》
            </a>
          </li>
          <li class="mb-1">
            <a class="item" href="docs/guide/protocol/4992.html">
              《LearnKu 社区规范》
            </a>
          </li>
          <li class="mb-1">
            <a class="item" href="docs/guide/smart-questions/2032.html">
              《提问的智慧》
            </a>
          </li>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">服务提供商</h4>
        <div class="ui inverted link list">
          <a href="https://passport.ucloud.cn/?invitation_code=rami45zj5kpm&amp;ytag=reZ5E7"
             rel="nofollow noopener noreferrer" class="item" target="_blank" style="line-height: 28px;">
            <img src="https://cdn.learnku.com/uploads/banners/bQawWl3vT5dc2lYx5JZ7.png!large"
                 title="本站服务器由 UCloud 赞助" class="ui popover"
                 style="height: 20px;margin-bottom: -4px;margin-right: 3px;display: inline-block;">
          </a>
          <a href="https://www.upyun.com/" rel="nofollow noopener noreferrer" class="item" target="_blank"
             style="line-height: 28px;">
            <img src="https://cdn.learnku.com/uploads/banners/XPtLlZmIN1cQbLuDFEON.png!large"
                 title="社区 CDN 赞助商" class="ui popover"
                 style="height: 20px;margin-bottom: -4px;margin-right: 3px;display: inline-block;">
          </a>
          <a href="http://www.sendcloud.net/" rel="nofollow noopener noreferrer" class="item"
             target="_blank" style="line-height: 28px;">
            <img src="https://cdn.learnku.com/uploads/banners/JpTCK6OKYBIrBIWdtob8.png!large"
                 title="订阅邮件赞助商：SendCloud" class="ui popover"
                 style="height: 20px;margin-bottom: -4px;margin-right: 3px;display: inline-block;">
          </a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">其他信息</h4>
        <div class="ui inverted link list">

          <li>
            <a class="item" href="contact%EF%B9%96code=outsource.html">
              <i class="icon thumbs up"></i> 软件外包
            </a>
          </li>
          <li>
            <a class="item" href="docs/guide/administrator/4485.html">
              <i class="icon heartbeat"></i> 成为版主
            </a>
          </li>
          <li>
            <a class="item" href="quizzes.html">
              <i class="icon wpforms"></i> 所有测验
            </a>
          </li>
          <li>
            <a class="item" href="contact.html">
              <i class="icon wechat" aria-hidden="true"></i> 联系站长（反馈建议）
            </a>
          </li>
        </div>
      </div>
    </div>

    <div class="ui inverted section divider"></div>
    <div style="color: rgb(137, 137, 140);font-size:0.9em;" class="rm-link-color">
      <p>
        <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备18099781号-6</a>
        <span class="mx-2">|</span>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502004330"
           target="_blank"><img
                src="https://cdn.learnku.com/uploads/images/201908/21/1/L4ckM2CVb6.png!/fw/20" width="20"
                style="position: relative;top: 4px;"> 粤公网安备 44030502004330号</a>
        <span class="mx-2">|</span>
        <a href="lk.html">违法和不良信息举报</a>
      </p>
      <p style=" margin-top:-8px;margin-bottom: -0px;" class="ui inverted signature">
        由 <a href="contact.html" target="_blank" style="color: inherit;">Summer</a> 设计和编码 <span
              style="color: #e27575;font-size: 14px;">❤</span>
      </p>
    </div>
  </div>
</div>
