<!-- 底部 -->
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="four wide column">
        <h4 class="ui inverted header">
          <img src="resource/img/admin.gif" alt=""
               style="width: 32px;border-radius: 6px;position: relative;top: -5px;">
          一起码
        </h4>
        <div class="ui inverted  text-center">
          <div class="lh-3">网站介绍</div>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">资源中心</h4>
        <div class="ui inverted link list">
          <li class="mb-1">
            <a class="item" href="#(CPATH)/products">
              资源下载
            </a>
          </li>
          <li class="mb-1">
            <a class="item" href="#(CPATH)/product/help">
              下载帮助
            </a>
          </li>
          <li class="mb-1">
            <a class="item" href="#(CPATH)/product/instruction">
              资源说明
            </a>
          </li>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">快捷入口</h4>
        <div class="ui inverted link list">
          <li class="mb-1">
            <a class="item" href="#">
              留言反馈
            </a>
          </li>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">站点信息</h4>
        <div class="ui inverted link list">
          <li class="mb-1">
            <a class="item" href="#">
              联系我
            </a>
          </li>
        </div>
      </div>
    </div>

    <div class="ui inverted section divider"></div>
    <div style="color: rgb(137, 137, 140);font-size:0.9em;" class="rm-link-color">
      <p>
        <a href="http://beian.miit.gov.cn/" target="_blank">#(WEB_IPC_NO ??)</a>
        <span class="mx-2">|</span>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502004330"
           target="_blank"><img
                src="" width="20"
                style="position: relative;top: 4px;"> #(WEB_COPYRIGHT ??)</a>
      </p>
    </div>
  </div>
</div>
