<!-- 底部 -->
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="four wide column">
        <h4 class="ui inverted header">
          <img src="resource/img/admin.gif" alt=""
               style="width: 32px;border-radius: 6px;position: relative;top: -5px;">
          一起码
        </h4>
<!--        <div class="ui inverted  text-center">-->
<!--          <div class="lh-3">一起来码吗</div>-->
<!--        </div>-->
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">板块1</h4>
        <div class="ui inverted link list">
          待更新...
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">快捷入口</h4>
        <div class="ui inverted link list">
          待更新...
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">其他信息</h4>
        <div class="ui inverted link list">
          待更新...
        </div>
      </div>
    </div>

    <div class="ui inverted section divider"></div>
    <div style="color: rgb(137, 137, 140);font-size:0.9em;" class="rm-link-color">
      <p>
        <a href="http://beian.miit.gov.cn/" target="_blank">#(WEB_IPC_NO ??)</a>
        <span class="mx-2">|</span>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502004330"
           target="_blank"><img
                src="" width="20"
                style="position: relative;top: 4px;"> #(WEB_COPYRIGHT ??)</a>
      </p>
    </div>
  </div>
</div>
