#include("./layout.html")
#@layout()

#define content()
<div class="ui centered grid stackable container mt-5 pt-3">
    <div class="six wide column">
        <div class="ui stacked segment">
            <div class="content">
                <h2>用户登录</h2>

                <div class="ui divider"></div>
                #if(option('login_qq_enable') || option('login_wechat_enable'))
                <div class="form-group row">
                    #if(option('login_wechat_enable'))
                    <a class="ui button fluid mt-2 basic wechat-login-link"
                       href="#(CPATH)/oauth/wechat"><i
                            class="icon wechat "></i> 微信登录</a>
                    #end
                    #if(option('login_qq_enable'))
                    <a class="ui button fluid mt-2 basic"
                       href="#(CPATH)/oauth/qq"><i class="icon github alternate"></i> QQ 登录</a>
                    #end
                </div>
                #end
            </div>
        </div>
    </div>
</div>
#end