<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://d349cztnlupsuf.enginefront.net">
    <title>公开课视频</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="LeanCloud 视频、教程与公开课内容">
    <meta property="twitter:title" content="公开课视频">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="icon" href="../favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="canonical" href="https://leancloud.cn">
    <link rel="manifest" href="../manifest.json">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="LeanCloud">
    <meta property="og:url" content="https://leancloud.cn">
    <meta property="og:description" content="LeanCloud 视频、教程与公开课内容">
    <meta property="og:title" content="公开课视频">
    <meta property="og:image" content="https://leancloud.cn/logo.png">
    <meta name="baidu-site-verification" content="sEgKd7fuLs">
    <meta name="baidu-site-verification" content="oDahCCQqdn">
    <link rel="stylesheet" href="../css/main.cbbf2041.css">
    <link rel="alternate" type="application/rss+xml" title="LeanCloud - LeanCloud - 为开发加速" href="../feed.xml">
</head>
<body>
<header class="wrapper-header">
    <section class="section-contain"><a href="../index.html" class="font-logo logo">LeanCloud</a>
        <ul class="site-nav">
            <li class="site-nav-item">
                <div class="site-nav-group site-nav-dropdown"><a href="javascript:;"><span class="subbtn">产品</span></a>
                </div>
                <ul class="site-nav-dropdown-menue sub-nav">
                    <li class="site-nav-item site-nav-item-group">
                        <div class="site-nav-item-group-title">基础服务</div>
                        <ul class="site-nav-item-group-list">
                            <li class="site-nav-item sub-nav-links-item"><a href="../storage/index.html">数据存储</a></li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../engine/index.html">云引擎 + 数据库</a>
                            </li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../rtm/index.html">即时通讯</a></li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../notification/index.html">消息推送</a>
                            </li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../sms/index.html">短信</a></li>
                        </ul>
                    </li>
                    <li class="site-nav-item site-nav-item-group">
                        <div class="site-nav-item-group-title">行业解决方案</div>
                        <ul class="site-nav-item-group-list">
                            <li class="site-nav-item sub-nav-links-item"><a href="../play/index.html">游戏解决方案</a></li>
                            <li class="site-nav-item sub-nav-links-item"><a href="../miniprogram/index.html">微信小程序</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="site-nav-item"><a href="../pricing/index.html">价格</a></li>
            <li class="site-nav-item"><a href="../customers/index.html">用户</a></li>
            <li class="site-nav-item"><a href="https://leancloud.cn/docs/">文档</a></li>
            <li class="site-nav-item current"><a href="index.html">学习</a></li>
            <li class="site-nav-item"><a href="../帮助/index.html">帮助</a></li>
            <li class="site-nav-item"><a href="https://leancloud.app">国际版 (Intl)</a></li>
            <li class="site-nav-item login-btn">
                <div class="site-nav-group active"><a href="https://console.leancloud.cn">控制台 <i
                        class="uk-icon-angle-right"></i></a></div>
            </li>
        </ul>
        <section class="menu"><span class="crust-top"></span> <span class="crust-bottom"></span></section>
    </section>
</header>
<div id="main" role="main" class="wrapper-container page-tutorials">
    <div class="tutorials-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide banner-play"><img class="cloud left"
                                                       src="../assets/imgs/tutorials/banner-play-left.0af510f6.png"
                                                       alt="">
                <section class="section-contain"
                         onclick='targetHref("https://forum.leancloud.cn/t/leancloud-play/19404")'><p
                        class="h2 font-logo title">使用 LeanCloud Play</p>
                    <p class="h2 font-logo content">开发抢蛋糕小游戏的经验谈<span class="h4">（附防作弊机制）</span></p>
                    <button class="button">查看详情</button>
                </section>
                <img class="cloud right" src="../assets/imgs/tutorials/banner-play-right.12c71b7c.png" alt=""></div>
            <div class="swiper-slide banner-server"><img class="cloud"
                                                         src="../assets/imgs/tutorials/banner-server2.36db140e.png"
                                                         alt="">
                <section class="section-contain" onclick='targetHref("https://forum.leancloud.cn/t/topic/19450")'>
                    <div class="content"><h2 class="font-logo">如何通过服务端控制游戏逻辑</h2><h4>快速实现《剪刀石头布》对战小游戏</h4>
                        <button class="button">查看详情</button>
                    </div>
                    <div class="images"><img src="../assets/imgs/tutorials/banner-server1.6ee3a7aa.png" alt=""></div>
                </section>
            </div>
        </div>
        <div class="hero-pagination"></div>
    </div>
    <section class="section">
        <section class="section-contain table-section">
            <div class="table-item">
                <section class="tutorial-item"><a href="http://product.dangdang.com/24179556.html" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2018_1_8_iOS_18days.e0d3a44c.jpg)"></a>
                    <div class="tutorial-meta"><a href="http://product.dangdang.com/24179556.html" target="_blank"><p
                            class="tutorial-meta-title">18 天零基础开发一个商业应用</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="http://product.dangdang.com/24179556.html"
                                                                   target="_blank">刘铭 | 机械工业出版社</a></span></div>
                        <p class="tutorial-meta-desc">本书以构建一个仿 Instagram 项目的实践案例，将所有知识点融入到实践当中，使大家真正理解和掌握如何通过 XcodeSDK 和
                            Swift3.0 语言来开发iOS应用程序。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av27010388" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2019_2_15-%E6%B8%B8%E6%88%8F%E5%BC%80%E5%8F%91-%E5%8D%95%E4%BA%BA%E9%97%AF%E5%85%B3.e54255a3.png%EF%B9%A8.png)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av27010388" target="_blank"><p
                            class="tutorial-meta-title">游戏开发 - 实现单人闯关_挑战他人功能</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="https://www.bilibili.com/video/av27010388"
                                                                   target="_blank">主讲 : 崔毅然</a></span></div>
                        <p class="tutorial-meta-desc">
                            为了让开发者能够利用好我们提供的游戏平台服务来快速上线自己的小游戏产品，我们准备了系列直播课程，本期涉及到的内容包括第三方账户登录、后端数据存储、使用云函数实现后端逻辑。</p>
                    </div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av28101800" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2019_2_15-%E6%B8%B8%E6%88%8F%E5%BC%80%E5%8F%91-%E6%8E%92%E8%A1%8C%E6%A6%9C.ab37a7c6.png%EF%B9%A8.png)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av28101800" target="_blank"><p
                            class="tutorial-meta-title">游戏开发 - 实现排行榜功能</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="https://www.bilibili.com/video/av28101800"
                                                                   target="_blank">主讲 : 崔毅然</a></span></div>
                        <p class="tutorial-meta-desc">本期将重点介绍以下游戏功能如何实现： 存储玩家分数、获取自己的排名、获取 top 排名、数据重置、根据排行榜结果发奖品。</p>
                    </div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av39075149" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2019_2_15-%E6%B8%B8%E6%88%8F%E5%BC%80%E5%8F%91-%E5%AE%9E%E6%97%B6%E5%AF%B9%E6%88%98%E5%B0%8F%E6%B8%B8%E6%88%8F.e5034d44.png%EF%B9%A8.png)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av39075149" target="_blank"><p
                            class="tutorial-meta-title">游戏开发 - 快速开发实时对战小游戏</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="https://www.bilibili.com/video/av39075149"
                                                                   target="_blank">主讲 : 崔毅然</a></span></div>
                        <p class="tutorial-meta-desc">实时对战是 LeanCloud
                            专门针对多人在线对战游戏推出的后端服务。开发者不需要自己搭建后端系统，利用云服务就可以轻松实现游戏内玩家匹配、在线对战消息同步等功能。本期直播课程我们将通过此服务来实现类似于《头脑王者》的对战类小游戏。</p>
                    </div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av39075321" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2019_2_15-%E6%B8%B8%E6%88%8F%E5%BC%80%E5%8F%91-%E6%9C%8D%E5%8A%A1%E7%AB%AF%E6%8E%A7%E5%88%B6%E6%B8%B8%E6%88%8F%E9%80%BB%E8%BE%91.f915d78d.png%EF%B9%A8.png)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av39075321" target="_blank"><p
                            class="tutorial-meta-title">游戏开发 - 服务端控制游戏逻辑</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="https://www.bilibili.com/video/av39075321"
                                                                   target="_blank">主讲 : 崔毅然</a></span></div>
                        <p class="tutorial-meta-desc">
                            上期内容我们分享了如何开发答题类对战小游戏。由于游戏逻辑都是在客户端实现，这样就会带来数据被篡改、反编译等安全隐患。为了解决这些问题，本次内容会重点讲解如何通过服务端控制游戏逻辑。</p>
                    </div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av14410658/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2017.09.15%E5%A6%82%E4%BD%95%E9%80%9A%E8%BF%87%E9%82%AE%E4%BB%B6%E5%A4%84%E7%90%86%E5%B7%A5%E5%8D%95.0f82789f.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av14410658/" target="_blank"><p
                            class="tutorial-meta-title">如何通过邮件处理工单</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a
                                href="https://forum.leancloud.cn/t/leancloud-web/15943" target="_blank"></a></span>
                        </div>
                        <p class="tutorial-meta-desc">很多用户习惯使用 Email
                            来处理工作，所以工单系统也接入了邮件功能，不光可以用邮件接收工单提醒，还可以直接通过邮件来回复工单。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av13991046/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2017.09.15%E4%BD%BF%E7%94%A8-LiveQuery-%E5%AE%9E%E7%8E%B0%E5%A4%9A%E7%AB%AF%E6%95%B0%E6%8D%AE%E5%AE%9E%E6%97%B6%E5%90%8C%E6%AD%A5.8a9de2f0.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av13991046/" target="_blank"><p
                            class="tutorial-meta-title">使用 LiveQuery 实现多端数据实时同步</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a
                                href="https://forum.leancloud.cn/t/livequery-leancloud-web/15798/2" target="_blank"></a></span>
                        </div>
                        <p class="tutorial-meta-desc">围绕一个工单，客服人员可能要与用户进行多次沟通。为了让每一次回复都能及时传达到对方，我们使用 LiveQuery
                            来实时同步数据，让每一条新增的回复内容都能实时地同时出现在移动端和 PC 端。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av14203697/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2017.09.15-LeanTicket-%E4%B8%8E%E5%BE%AE%E4%BF%A1%E5%AF%B9%E6%8E%A5.e4112cf0.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av14203697/" target="_blank"><p
                            class="tutorial-meta-title">LeanTicket 与微信对接</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a
                                href="https://forum.leancloud.cn/t/leanticket-leancloud-web/15887" target="_blank"></a></span>
                        </div>
                        <p class="tutorial-meta-desc">
                            因为客服有时无法保证总是在线，用户难免会有得不到及时响应的担心。为了提高处理效率与用户体验，用户的每一次回复都会通过微信或其他外部系统（如邮件、短信通知）发送给客服人员，来确保问题能及时得到关注。</p>
                    </div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av7503722/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/1nodejs.fd41209c.jpg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av7503722/" target="_blank"><p
                            class="tutorial-meta-title">Node.js 开发实践</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 8 小节 <span
                                class="right tutorial-download"><a href="https://forum.leancloud.cn/t/node-js/12451"
                                                                   target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">介绍关于使用 Node.js
                            开发服务端程序的很多方面，包括：语言语法介绍、工具类库介绍、相关生态圈介绍、服务端程序性能（容量）测试、个人心得等。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av7851205/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/2%E4%BA%91%E5%BC%95%E6%93%8E.3d2c118c.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av7851205/" target="_blank"><p
                            class="tutorial-meta-title">云引擎容量规划</p></a>
                        <div class="tutorial-meta-date small">进阶培训第一期</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 4 小节</div>
                        <p class="tutorial-meta-desc">
                            了解云引擎控制台和存储服务控制台各项统计的意义。了解并能测试云引擎应用基准性能。预估云引擎实例规格的容量，合理分配云引擎实例规格。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av7985520/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/3%E6%95%B0%E6%8D%AE%E5%AD%98%E5%82%A8.6fa2c137.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av7985520/" target="_blank"><p
                            class="tutorial-meta-title">数据存储关系模型设计</p></a>
                        <div class="tutorial-meta-date small">进阶培训第二期</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节</div>
                        <p class="tutorial-meta-desc">了解
                            Pointer、Relation、中间表构建关系的方式。了解每一种构建关系方式对应的查询方式。根据附加属性，关系类型以及数据预估量来选择建模方式。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av8663659/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/4%E7%B4%A2%E5%BC%95%E5%8A%A0%E9%80%9F%E6%9F%A5%E8%AF%A2.abf8a74e.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av8663659/" target="_blank"><p
                            class="tutorial-meta-title">如何通过索引加速查询</p></a>
                        <div class="tutorial-meta-date small">进阶培训第三期</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="https://forum.leancloud.cn/t/topic/13305"
                                                                   target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">本期主要内容为索引基本知识点普及，其中对开发中遇到的单字索引、复合索引、索引的区分度等此类索引在使用过程中的一些经验分享。</p>
                    </div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av8868380/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/5%E6%95%B0%E6%8D%AE%E5%AE%89%E5%85%A8%EF%BC%88%E4%B8%8A%EF%BC%89.1b2b7491.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av8868380/" target="_blank"><p
                            class="tutorial-meta-title">LeanCloud 与数据安全（上）</p></a>
                        <div class="tutorial-meta-date small">进阶培训第四期</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="http://pan.baidu.com/s/1cjOYaM"
                                                                   target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">LeanCloud 作为一个将各项服务的 API 直接开放给客户端，并拥有数以万计开发者和海量应用的 BaaS
                            服务，是如何提供针对数据安全的各种保障机制？</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av9017992/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/6%E6%95%B0%E6%8D%AE%E5%AE%89%E5%85%A8%EF%BC%88%E4%B8%8B%EF%BC%89.1d2f6235.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av9017992/" target="_blank"><p
                            class="tutorial-meta-title">LeanCloud 与数据安全（下）</p></a>
                        <div class="tutorial-meta-date small">进阶培训第五期</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="http://pan.baidu.com/s/1kVgOP99"
                                                                   target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">了解完上节课的内容，这次我们手把手教你如何使用 LeanCloud 构建安全的论坛应用。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av9082797/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/7%E5%B0%8F%E7%A8%8B%E5%BA%8F.b2b4720f.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av9082797/" target="_blank"><p
                            class="tutorial-meta-title">使用 LeanCloud 实现小程序后端</p></a>
                        <div class="tutorial-meta-date small">进阶培训第六期</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 3 小节</div>
                        <p class="tutorial-meta-desc">本次直播课程将与您一起探讨如何通过 LeanCloud 来实现小程序后端，并以支付后台为例现场实战开发。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av11291992/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/8LiveQuery.358fafa8.jpg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av11291992/" target="_blank"><p
                            class="tutorial-meta-title">LiveQuery 功能把玩</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节</div>
                        <p class="tutorial-meta-desc">本期课程介绍了 LiveQuery 的实现原理、最适合使用 LiveQuery 的场景以及各平台的样例
                            ，帮助开发者客户端的数据展现更为简单且具备实时效果。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av11454137/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/9%E8%81%8A%E5%A4%A9%E6%9C%BA%E5%99%A8%E4%BA%BA.3d67b8dc.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av11454137/" target="_blank"><p
                            class="tutorial-meta-title">基于 LeanCloud 快速搭建聊天机器人</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="https://forum.leancloud.cn/t/leandev/14989/2"
                                                                   target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">本期直播课程将带你了解 Github 开发并开源的聊天机器人 Hubot，同时 LeanCloud
                            工程师也将教你如何在云引擎上快速搭建 Hubot。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av11608322/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/10H5.67aa7149.jpg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av11608322/" target="_blank"><p
                            class="tutorial-meta-title">使用 LeanMessage 开发 H5 互动游戏</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a
                                href="https://forum.leancloud.cn/t/im-h5-leandev/15057/2" target="_blank"></a></span>
                        </div>
                        <p class="tutorial-meta-desc">我们将带你了解并学习 HTML 5 Canvas、Node 7.6 Async/Await， 以及 LeanCloud
                            即时通讯等知识点，并且会基于以上的知识点，教你如何从零开始实现多人版《你画我猜》小游戏。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av12327844/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/11%E6%8A%80%E6%9C%AF%E6%94%AF%E6%8C%81.62c5fc83.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av12327844/" target="_blank"><p
                            class="tutorial-meta-title">如何高效利用技术支持</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="https://forum.leancloud.cn/t/leandev/15300"
                                                                   target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">无论你是刚接触 LeanCloud 的新用户，还是业务已经运行良好的资深用户，在使用 LeanCloud
                            时可能都会遇到一些问题，那这些问题提出时如何能被快速解决？这里，我们将会传授一些提问小技巧。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av12823801/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/12%E6%95%B0%E6%8D%AE%E4%B8%80%E8%87%B4%E6%80%A7.aa69da1b.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av12823801/" target="_blank"><p
                            class="tutorial-meta-title">在 LeanCloud 上解决数据一致性问题</p></a>
                        <div class="tutorial-meta-date small"></div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a href="https://forum.leancloud.cn/t/leandev/15463"
                                                                   target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">「LeanCloud 是否支持事务」是我们经常被问到的一个问题，这次直播我将会为大家介绍在 LeanCloud
                            平台上通过一些基本的特性，结合业务逻辑去确保一些核心业务数据的一致性，帮助大家构建健壮的应用。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av12928037/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/13LeanTicket.ba2c9a63.jpg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av12928037/" target="_blank"><p
                            class="tutorial-meta-title">LeanTicket - 开发环境搭建及功能简介</p></a>
                        <div class="tutorial-meta-date small">LeanCloud Web 应用开发实践</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a
                                href="https://forum.leancloud.cn/t/leanticket-leancloud-web/15538/2"
                                target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">关于使用 LeanCloud 开发 Web 应用的一些实践分享，本期主要内容为如何使用 LeanTicket
                            源代码部署一个独立的工单系统以及 LeanTicket 现有功能。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av13140772/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/14%E7%90%86%E6%B8%85-Web-%E5%BA%94%E7%94%A8%E7%9A%84%E7%99%BB%E5%BD%95%E7%8A%B6%E6%80%81.33827810.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av13140772/" target="_blank"><p
                            class="tutorial-meta-title">理清 Web 应用的登录状态</p></a>
                        <div class="tutorial-meta-date small">LeanCloud Web 应用开发实践</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a
                                href="https://forum.leancloud.cn/t/web-leancloud-web/15590/2"
                                target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">在使用云引擎的过程中，开发者总会对 currentUser 存在一些疑惑，本期视频就将重点帮助大家梳理思路，解决疑问。</p>
                    </div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av13407177/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/15%E4%BD%BF%E7%94%A8-OAuth-%E6%8E%A5%E5%85%A5.81642520.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av13407177/" target="_blank"><p
                            class="tutorial-meta-title">使用 OAuth 接入第三方用户信息</p></a>
                        <div class="tutorial-meta-date small">LeanCloud Web 应用开发实践</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a
                                href="https://forum.leancloud.cn/t/oauth-leancloud-web/15604"
                                target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">OAuth 是一个关于授权（authorization）的开放网络标准，并在全世界得到广泛应用，本期我们将主要分享以
                            LeanCloud 提供的 OAuth 为例实现接入并访问用户信息的一些内容。</p></div>
                </section>
                <section class="tutorial-item"><a href="https://www.bilibili.com/video/av13700356/" target="_blank"
                                                  class="tutorial-image"
                                                  style="background-image:url(../assets/imgs/tutorials/16ACL-%E4%BF%9D%E6%8A%A4%E6%95%B0%E6%8D%AE%E5%AE%89%E5%85%A8.bc6d8cbd.jpg%EF%B9%A8.jpeg)"></a>
                    <div class="tutorial-meta"><a href="https://www.bilibili.com/video/av13700356/" target="_blank"><p
                            class="tutorial-meta-title">使用 ACL 保护数据安全</p></a>
                        <div class="tutorial-meta-date small">LeanCloud Web 应用开发实践</div>
                        <div class="tutorial-meta-extra small"><i class="icon icon-clock"></i> 1 小节 <span
                                class="right tutorial-download"><a
                                href="https://forum.leancloud.cn/t/acl-leancloud-web/15730/3"
                                target="_blank"></a></span></div>
                        <p class="tutorial-meta-desc">本期主要帮助用户实现以下一些疑问：为什么不能通过隐藏 appKey 来保证数据安全？如何方便的使用 ACL ？老旧数据如何增加
                            ACL ？</p></div>
                </section>
                <section class="tutorial-item"></section>
                <section class="tutorial-item"></section>
            </div>
        </section>
    </section>
</div>
<footer class="wrapper-footer">
    <section class="connect">
        <section class="section-contain">
            <section class="apply"><h2 class="font-logo logo">LeanCloud</h2><a class="button button-primary"
                                                                               href="https://console.leancloud.cn/register">立即申请试用</a>
                <form class="submail"
                      action="https://leancloud.us12.list-manage.com/subscribe/post?u=ab0f847461dceee3d41553154&amp;id=bb488780ff"
                      method="post"><label for="blog-subscription-email"><p class="email-label small">邮件订阅 <a
                        href="https://leancloudblog.com">LeanCloud Blog </a>的最新资讯</p></label> <input type="email"
                                                                                                     name="EMAIL"
                                                                                                     class="emaiinput small"
                                                                                                     name=""
                                                                                                     placeholder="请输入邮箱"
                                                                                                     id="blog-subscription-email"
                                                                                                     required></form>
            </section>
            <nav class="links">
                <section><p class="title">产品</p>
                    <ul class="small">
                        <li><a href="../storage/index.html">数据存储</a></li>
                        <li><a href="../engine/index.html">云引擎 + 数据库</a></li>
                        <li><a href="../rtm/index.html">即时通讯</a></li>
                        <li><a href="../notification/index.html">消息推送</a></li>
                        <li><a href="../sms/index.html">短信</a></li>
                        <li><a href="../play/index.html">游戏解决方案</a></li>
                        <li><a href="../miniprogram/index.html">微信小程序</a></li>
                        <li><a href="https://leancloudstatus.com/">服务健康状态</a></li>
                    </ul>
                </section>
                <section><p class="title">资源</p>
                    <ul class="small">
                        <li><a href="https://leancloud.cn/docs/">文档</a></li>
                        <li><a href="index.html">讲座视频</a></li>
                        <li><a href="https://forum.leancloud.cn/">论坛</a></li>
                        <li><a href="https://leanticket.cn/">工单</a></li>
                    </ul>
                </section>
                <section><p class="title">公司</p>
                    <ul class="small">
                        <li><a href="../about/index.html">关于我们</a></li>
                        <li><a href="https://open.leancloud.cn/">开放资源</a></li>
                        <li><a href="../jobs/index.html">工作机会</a></li>
                        <li><a href="../news/index.html">媒体报道</a></li>
                        <li><a href="../协议/index.html">使用协议</a></li>
                        <li><a href="https://leancloudblog.com/">博客</a></li>
                        <li><a href="../logo/index.html">Logo</a></li>
                    </ul>
                </section>
                <section><p class="title">社交网络</p>
                    <ul class="small">
                        <li><a class="tooltip">微信 <span class="tooltiptext"><img
                                src="../assets/imgs/qr-wechat-borderless.11ef7253.png" alt=""></span></a></li>
                        <li><a href="https://weibo.com/avoscloud">微博</a></li>
                        <li><a href="https://zhuanlan.zhihu.com/leancloud-eng">知乎专栏</a></li>
                        <li><a href="https://github.com/leancloud">GitHub</a></li>
                        <li><a href="https://twitter.com/leancloudrocks">Twitter</a></li>
                        <li><a href="https://www.facebook.com/leancloudus">Facebook</a></li>
                    </ul>
                </section>
            </nav>
        </section>
    </section>
    <section class="address">
        <section class="section-contain"><p><a
                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502036747" target="_blank"
                rel="nofollow">京公网安备 11010502036747 号</a> · <a href="http://beian.miit.gov.cn/" target="_blank"
                                                               rel="nofollow">京 ICP 备 12025059-8</a> · <a
                href="https://www.leancloud.cn/assets/ICP.182c7324.jpg" target="_blank" rel="nofollow">京 ICP 证 130300
            号</a></p>
            <p>版权所有 © 2021 美味书签（北京）信息技术有限公司</p></section>
    </section>
</footer>
</body>
<script src="../vendor.22064f24.js"></script>
<script src="../main.aab48a90.js"></script>
<script>window.init("tutorials")</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42629236-1"></script>
<script>function gtag() {
    dataLayer.push(arguments)
}

window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-42629236-1"), gtag("config", "AW-1030743864")</script>
</html>
