
<footer class="wrapper-footer">
  <section class="connect">
    <section class="section-contain">
      <section class="apply">
        <h2 class="font-logo logo">#(WEB_NAME ??)</h2>
      </section>
      <nav class="links">
        #footers()
        #for(footer : footers)
        <section>
          <p class="title">#(footer.groupTitle)</p>
          <ul class="small">
            #for(subTitle : footer.subTitles)
            <li><a href="#(subTitle.titleUrl)">#(subTitle.titleName)</a></li>
            #end
          </ul>
        </section>
        #end
        #end
      </nav>
    </section>
  </section>
  <section class="address">
    <section class="section-contain"><p><a
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502036747" target="_blank"
            rel="nofollow">京公网安备  号</a> · <a href="http://beian.miit.gov.cn/" target="_blank"
                                                           rel="nofollow">京 ICP 备 </a> · <a
            href="https://www.leancloud.cn/assets/ICP.182c7324.jpg" target="_blank" rel="nofollow">
      京 ICP 证  号</a></p>
      <p>版权所有 © 2021 xxxx</p></section>
  </section>
</footer>
